
{% extends 'base1.html' %}
{% block title %} 登录 {% endblock %}
{% load staticfiles %}
{% block css %}
     <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style>
{##view{#}
{#    margin-left:300px#}
{#    }#}
{##}
{##}
{#    #view1{#}
{#    margin-left:200px#}
{#    }#}

    </style>
{% endblock %}


{% block body %}
<body style="background: url(https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=497222494,3533896846&fm=15&gp=0.jpg) ;background-size:cover; ">
{% endblock %}
{#https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3896713307,1010087306&fm=26&gp=0.jpg#}

{% block content %}
<nav>
<div style="position:relative ">
     <img style="width: 100%;height:100px;" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3841160909,1028910648&fm=26&gp=0.jpg">
    <span style="position: absolute;bottom: 30px;left: 100px;font-size: 30px;color: black">四平市公安局财政统发工资查询系统</span>
{#    <a  onclick="javascript:history.back(-1);"><span style="position: absolute;bottom: 10px;left: 10px;font-size: 15px;border: 1px solid white;border-radius: 10px"><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;|返回上一页</span></a>#}
{#    <img src="/upload/icon/警徽.png" style="width: 60px;height: 60px;position: absolute;bottom: 20px;left: 10px">#}
    </div>

</nav>

    <div class="container">
    <div class="text-center" >


        <div class="title-first" style="width: 800px;height: 50px;margin-top: 40px;border-radius: 30px;margin-left: 180px">
            <marquee style="font-size: 28px;color: red;text-align: center;line-height: 50px">热爱祖国，热爱生命，无私奉献</marquee>
        </div>

        <div class="row" style="padding: 50px;margin-top: 20px;border-radius: 100px;">
            <div id="view" class="col-sm-8" >
                <div id="myCarousel" class="carousel slide" style="border: 4px solid grey;">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img style="width: 100%;height: 100%;" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3204802870,996087153&fm=26&gp=0.jpg" alt="First slide">
                            <div class="carousel-caption">标题 1</div>
                        </div>
                        <div class="item">
                            <img style="width: 100%;height: 100%;" src="http://pic144.huitu.com/pic/20200624/764827_20200624114952857020_0.jpg" alt="Second slide">
                            <div class="carousel-caption">标题 2</div>
                        </div>
                        <div class="item">
                            <img style="width: 100%;height: 100%;" src="http://pic144.huitu.com/pic/20200621/218_20200621143222543020_0.jpg" alt="Third slide">
                            <div class="carousel-caption">标题 3</div>
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>



             <div id="view1" class="col-sm-4">
                <form style="border: 2px solid lightgrey;border-radius: 20px;padding: 41px;width:300px;height: 360px;padding-top: 0;"  role="form" action="{% url 'user:login' %}" method="post">
                    <h2>用户登录</h2>
                    <div class="form-group" >

                        <input  id="i1" style="border-radius: 20px;" type="text" class="form-control" name="idcard" placeholder="请输入身份证号" required="">
                    </div>

                    <div class="form-group">
                        <input style="border-radius: 20px" type="password" class="form-control" name="pwd" placeholder="输入默认密码" required="">
                    </div>

                    <button style="border-radius: 20px" type="submit" class="btn btn-primary block full-width m-b">登 录</button>
                    <p class="text-muted text-center"> <a href="login.html#"><small>忘记密码了？</small></a> | <a href="{% url 'user:register' %}">注册一个新账号</a>
                    </p>
                </form>
             </div>

        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}